<<<<<<< HEAD
*{
    color: red !important;
}

.card{
    height: 250px !important;
    background-color: blueviolet !important;
   
}
=======
:root{
    --gray:#E4E4E4;
    --black:#222222;
    --green:#045757;

}


* {
    
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}





>>>>>>> 986bd7e63af788c4ff10dc83cb6155c12946e7f8
